.no_margin{
margin:0px !important;
}
hl {background:yellow;}
hl[n="1"] {background:YellowGreen;}
hl[n="2"] {background:lightblue;}
hl[n="3"] {background:lightgreen;}
hl[n="4"] {background:Violet;}
hl[n="5"] {background:Plum;}
hl[n="6"] {background:Coral;}
hl[n="7"] {background:LawnGreen;}
hl[n="8"] {background:LightSkyBlue;}
hl[n="9"] {background:Orchid;}

div[db="cst:vrimul"]  {background:YellowGreen;}
div[db="cst:vriatt"]  {background:lightgreen;}
div[db="cst:vritik"]  {background:Coral;}
div[db="cst:trans_bpit"]  {background:lightblue;}



slot[expandable='true']:hover {text-decoration: underline;cursor:pointer;background: Tomato }

#dicttofind , .resultitem , .bodytext {font-size:120%;}
readunit {font-size:120%;color:brown;}

p[n]:before {
	content:" " attr(n) " ";background-color:lightblue;
	border-radius: 5px;border-style:solid;border-color:black;
	border-width: 1px;
}


div[type="sutta"] {font-size:200%;}
.linkdb.active {color:yellow;}

# div[data-aura-widget="tabui-widget@kse"] ul#tabs {background-image: url(tabbackground.png)}
pb:after { content: "["  attr(id)  "]"; font-size:75%; color:blue;} 
.hit {
	float:right;color:DarkOrange;font-weight:bold;font-family: Courier
}

.label-large {font-size:200%;}
.label-medium {font-size:150%;}
.inputcandidate {cursor:pointer;line-height:175%;font-size:120%;}
.resultitem:hover {background:lightyellow}

d {white-space: pre;}
d:before{content:"\a"};