<div id="matchpanel" class="panel panel-success">
	<div class="panel-body">
	<ul class="nav nav-pills">
  <li class="active"><a data-toggle="tab" href="#help">Help</a></li>
	</ul>

	<div class="tab-content">


		<div class="tab-pane active" id="help">
			<div data-aura-component="search-help"></div>
		</div>

	</div>

</div>
<!--
		<div id="matchpanel" class="panel panel-success">
	<div class="row panel-body text-center">
	
	<div class="col-xs-4"><input name="vriset" checked=true type="radio" id="vrimul"/><label for="vrimul">Mulā</label><br/><span class="btn openresult label-medium label-danger" id="matchcount_vrimul">0</span></div>
	<div class="col-xs-4"><input name="vriset" type="radio" id="vriatt"/><label for="vriatt">Aṭṭhakathā</label><br/><span class="btn openresult label-medium label-danger" id="matchcount_vriatt">0</span></div>
	<div class="col-xs-4"><input name="vriset" type="radio" id="vritik"/><label for="vritik">Ṭīkā</label><br/><span class="btn openresult label-medium label-danger" id="matchcount_vritik">0</span></div>
	
	</div>
	</div>
//->