<div id="searchhelp">
		<br/><input type="search" size=3 value="rasa"> match <b>rasa</b> and <b>rasā</b>
		<br/><input type="search" size=3 value="rasa^">match <b>rasa</b> but not rasā
		<br/><input type="search" size=3 value="raja%">match <b>rajakadoṇiyā</b>,<b>rajakaputtaṃ</b> and so on, maximum 100 matches.

		<br/><input type="search" size=3 value="P Q">P must appear, Q is optional
		<br/><input type="search" size=3 value="P +Q">both P and Q must appear
		<br/><input type="search" size=3 value="P -Q">P must appear, Q must not appear

		<br/><b>Phrase Search</b>
		<br/><input type="search" value='"this is a phrase"'>
		<br/><input type="search" value='P "+the phrase"'>P and "the phrase" must appear
		<br/><input type="search" value='"rupa,dhamma anicca"'>match "rūpā aniccā" , "dhammā aniccā"
		<br/><input type="search" value='"evam me -sutam"'>match <b>evaṃ me ettha</b>

		<br/><input type="search" size=5 value='"P * Q"'>0 or 1 word in between P Q
		<br/><input type="search" size=5 value='"P 3* Q"'>0 ~ 3 words in between P Q
		<br/><input type="search" size=5 value='"P ? Q"'> 1 word in between P Q
		<br/><input type="search" size=5 value='"P 3? Q"'>3 words in between P  Q

</div>
