<H2>འདུལ་བ།</H2>
1〔ཐ་དད་པ〕 བཏུལ་བ། གདུལ་བ། ཐུལ།། ངན་པ་བཟང་པོར་འཆོས་པ། 調治，教化，訓練，制伏。
<br>佛書譯為調伏： ས་ཞིང་འདུལ་བ། 整治土地。 མི་ངན་འདུལ་བ། 教化惡人。 རྟ་རྒོད་འདུལ་བ། 訓練烈馬。 དགྲ་བོ་བཏུལ་བ། 制伏了敵人。 མི་འཇམ་འཇམ་གྱིས་འདུལ་། རང་རྩུབ་ཀྱིས་འདུལ། 柔以化人，剛以克己。 གདུལ་དཀའ་བ། 難伏，難以教化。

<br><br>2〈བིནཡ〉 ལྟུང་བ་སྡེ་ལྔ་དང་། ལྟུང་བ་འབྱུང་བའི་རྒྱུ་དང་། ལྟུང་བ་ལས་ལྡང་བ་དང་། ལྟུང་བ་ལས་ངེས་པར་འབྱུང་བ་དང་། གང་ལ་བརྟེན་ནས་བསླབ་པ་བཅའ་བ་གང་ཟག  བསླབ་པ་བཅས་པ་དངོས། དེའི་རབ་ཏུ་དབྱེ་བ། ལྟུང་བ་དང་ལྟུང་མེད་རྣམ་པར་ངེས་པ་བཅས་དོན་རྣམ་པ་པ་བརྒྱད་སྟོན་པས་འདུལ་བ་ཞེས་བྱའོ། 
<br>名詞。律，律經。梵音譯作毗奈耶，義譯為滅。闡述入事．謂五篇墮罪、犯墮原因、出墮、離墮、依何制戒補特伽羅、所制學處本體、學處名目、抉擇犯和未犯等八，以滅三業罪過，故名為律。