<H2>བམ་པོ།</H2>
<br>【梵】vinayaḥ  विनयः
<br>【藏】འདུལ་བ་ 'dul ba 
<br>【漢】調伏、律
<br>དུམ་བུ་དང་། ཆུན་པོའམ་ཆག་པ། 名詞。卷，束，把： གླེགས་བམ་འདིར་བམ་པོ་བརྒྱད་ཡོད། 此函書共八卷。མེ་ཏོག་བམ་པོར་འཆིང་བ། 捆花成束。 མེ་ཤིང་བམ་པོར་བསྡམས་ཏེ་རྒྱབ་ཏུ་ཁུར་བ། 把柴紮成捆背在背上。（張怡蓀《藏漢大辭典》，頁1815）
<br>bundle, division, section, board, chapter, part. shu lo ka sum brgya; bam po kha yar bstan dang le'u kha mar bstan; a volume/ a chapter, section (Rangjung Yeshe)
