
<div class="row no_margin">
	<div class="col-md-8">
	<div data-aura-component="tofind@kse"></div>
	<div data-aura-component="search-worker@kse"></div>
	<div data-aura-component="simple-result"></div>
	</div>

   <div class="col-md-4">
	<div data-aura-component="query-helper"></div>
	</div>

</div>